html, body, p {
    overflow: hidden;
    color: #232323;
}

#chart {
    position: fixed; // change to "relative" to slide graph left when variable pane opens
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -9999;
}

.x_axis path, .x_axis line, .y_axis path, .y_axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    stroke-width: 2px;
}

#top_control_container {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border: 0;
    margin: 0;
    padding: 0;
    text-align: center;
}

#top_controls {
    padding: 3px;
    background-color: #202020;
    background-color: rgba(31,31,31,0.5);
    color: white;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

#top_controls a {
    text-decoration: none;
    color: white;
}

.right-spacer {
    margin-right: 150px;
}

.right-spacer-small {
    margin-right: 10px;
}

.play-button {
    color: #4fff51;
}

.stop-button, .alert-button {
    color: #b9100e;
}

.warning-button {
    color: #ffb42a;
}

.button-inactive {
    color: darkgrey;
}

#variables_slide_out_handle, #settings_slide_out_handle {
    position: fixed;
    right: 0;
    top: 50px;
    margin: 0 auto;
    width: 35px;
    background-color: #202020;
    background-color: rgba(31,31,31,0.5);
    color: white;
    padding: 10px 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#variables_slide_out_handle a, #settings_slide_out_handle a {
    color: white;
    text-decoration: none;
}

#variables_slide_out_handle a:hover, #settings_slide_out_handle a:hover {
    color: #0078e7;
}

#variables_slide_out_handle i, #settings_slide_out_handle i {
    padding-left: 10px;
}

#settings_slide_out_handle {
    top: 95px;
}

#variable_pane, #settings_pane {
    display: none;
}

ul.variable_list {
    list-style-type: none;
    padding-left: 10px;
}

ul.variable_list li {
    margin-bottom: 5px;
    cursor: pointer;
}

ul.variable_list li.active {
    background: rgb(28, 184, 65);
}

ul.variable_list li svg { float: right; }

.close_button {
    position: absolute;
    top: 4px;
    right: 4px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.pure-button {
    border-radius: 0;
    padding: 5px 10px;
    min-width: 60px;
    margin-right: 5px;
}

.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.pure-button-variable-list-hide {
    background: rgb(25, 138, 52); /* this is a darker green */
    color: white;
}

.pure-button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.pure-button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.pure-button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}
