html, body, p {
    overflow: hidden;
    color: #232323;
}

#chart {
    position: fixed; // change to "relative" to slide graph left when variable pane opens
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -9999;
}

.x_axis path, .x_axis line, .y_axis path, .y_axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    stroke-width: 2px;
}

#loading-indicator {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
}

#loading-indicator img {
    position: absolute;
    top: 50%;
}

.right-spacer {
    margin-right: 150px;
}

.right-spacer-small {
    margin-right: 10px;
}

.play-button {
    color: #4fff51;
}

.stop-button, .alert-button {
    color: #b9100e;
}

.warning-button {
    color: #ffb42a;
}

.button-inactive {
    color: darkgrey;
}

.slide_out_handle, .header_route_button {
    position: fixed;
    right: 200px;
    top: 0;
    margin: 0 auto;
    width: 35px;
    background-color: #202020;
    background-color: rgba(31,31,31,0.5);
    color: white;
    padding: 10px 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
    text-align:center;
}

.slide_out_handle:hover, .header_route_button:hover {
    background-color: rgba(31, 31, 31, 1);
}

.slide_out_handle a, .header_route_button a {
    color: white;
    text-decoration: none;
}

#variables_handle {
    right: 150px;
}

#settings_handle {
    right: 50px;
}

#browse_handle {
    right: 100px;
}

#error_handle {
    right: 250px;
    background-color: rgb(185, 75, 75);
    display: none;
}

#variable_pane {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 999999;

    width: 350px;
    padding: 0 20px;

    background-color: #303030;
    color: #fff;

    text-align:center;
}

ul.variable_list {
    list-style-type: none;
    padding-left: 10px;
    margin-top: 40px;
    margin-bottom: 50px;
    text-align: left;
}

ul.variable_list li {
    margin-bottom: 2px;
    cursor: pointer;
}

ul.variable_list li.active {
    background: rgb(28, 184, 65);
}

ul.variable_list li svg, .float-right { float: right; }

.close_button {
    position: absolute;
    top: 4px;
    right: 4px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.close_button:hover {
    color: rgb(28, 184, 65);
}

.pure-button {
    border-radius: 0;
    padding: 5px 10px;
    min-width: 60px;
    margin-right: 5px;
}

.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.pure-button-variable-list-hide {
    background: rgb(25, 138, 52); /* this is a darker green */
    color: white;
}

.pure-button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.pure-button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.pure-button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

.settings-container {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: white;
}

.settings-main {
    width: 40%;
    min-width: 300px;
    background-color: #eee;
    padding: 10px 40px 20px 40px;
    margin: 30px auto 0 auto;
}

.settings-header {
    background: white;
    margin: 0 auto;
    padding: 10px 0 20px 0;
    min-width: 380px;
    width: 45%;
}

.no-top-margin {
    margin-top: 0;
    padding-top: 0;
}

.blitz-logo {
    margin: 20px auto;
}
